In [1]:
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
import requests
import re

In [3]:
browser = Browser('chrome', headless=False)

In [2]:
scrapings = {}

### NASA Mars News

* Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

```
Example:  
news_title = "NASA's Next Mars Mission to Investigate Interior of Red Planet"

news_p = "Preparation of NASA's next spacecraft to Mars, InSight, has ramped up this summer, on course for launch next May from Vandenberg Air Force Base in central California -- the first interplanetary launch in history from America's West Coast."
```

In [4]:
url = 'https://mars.nasa.gov/news/'

In [9]:
browser.visit(url)
html = browser.html
soup = bs(html, 'html.parser')
results = soup.find_all('li', class_='slide')

In [12]:
#results[0]

In [13]:
news_results = {
    'news_title': results[0].find('div', class_='content_title').a.text,
    'news_p': results[0].find('div', class_='article_teaser_body').text
}

In [14]:
# news_results = []

# for result in results:
#     news_results.append({
#         'news_title': result.find('div', class_='content_title').a.text,
#         'news_p': result.find('div', class_='article_teaser_body').text
#     })

In [15]:
scrapings['news_results'] = news_results

### JPL Mars Space Images - Featured Image

* Visit the url for JPL Featured Space Image
* Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called `featured_image_url`
* Make sure to find the image url to the full size `.jpg` image
* Make sure to save a complete url string for this image.

```
Example:
featured_image_url = 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16225_hires.jpg'
```

In [17]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

In [18]:
browser.visit(url)

xpath = '//li[@class="slide"]'

results = browser.find_by_xpath(xpath)
img = results[0]
img.click()

In [19]:
html = browser.html
soup = bs(html, 'html.parser')
img_url = "https://www.jpl.nasa.gov" + soup.find('img', class_='fancybox-image')['src']
img_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA23611_hires.jpg'

In [20]:
scrapings['img_url'] = img_url

### Mars Weather

* Visit the Mars Weather twitter account here and scrape the latest Mars weather tweet from the page. Save the tweet text for the weather report as a variable called `mars_weather`.

```
Example:
mars_weather = 'Sol 1801 (Aug 30, 2017), Sunny, high -21C/-5F, low -80C/-112F, pressure at 8.82 hPa, daylight 06:09-17:55'
```

In [21]:
url = 'https://twitter.com/marswxreport?lang=en'

In [22]:
browser.visit(url)
html = browser.html
soup = bs(html, 'html.parser')
mars_weather = soup.find('div', class_='content').find('div', class_='js-tweet-text-container').p.contents[0]
print(mars_weather)

InSight sol 391 (2020-01-01) low -99.0ºC (-146.1ºF) high -17.6ºC (0.3ºF)
winds from the SE at 5.7 m/s (12.7 mph) gusting to 21.9 m/s (49.0 mph)
pressure at 6.40 hPa

In [23]:
scrapings['mars_weather'] = mars_weather

### Mars Facts

* Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
* Use Pandas to convert the data to a HTML table string.

In [24]:
url = 'https://space-facts.com/mars/'

In [25]:
tables = pd.read_html(url)
tables[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [26]:
clean = tables[0].set_index(0).rename(columns={1:''}).rename_axis(index={0: ''})
clean

Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [27]:
table_string = clean.to_html()
table_string

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th></th>\n    </tr>\n    <tr>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [28]:
scrapings['table_string'] = table_string

### Mars Hemispheres

* Visit the USGS Astrogeology site here to obtain high resolution images for each of Mar's hemispheres.
* You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.
* Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys `img_url` and `title`.
* Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.

```
Example:
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": "..."},
    {"title": "Cerberus Hemisphere", "img_url": "..."},
    {"title": "Schiaparelli Hemisphere", "img_url": "..."},
    {"title": "Syrtis Major Hemisphere", "img_url": "..."},
]
```

In [29]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [30]:
hemisphere_image_urls = []

xpath = '//div[@class="item"]/a/img'

browser.visit(url)
results = browser.find_by_xpath(xpath)

for i in range(len(results)):
    browser.visit(url)
    result = browser.find_by_xpath(xpath)
    result[i].click()
    
    html = browser.html
    soup = bs(html, 'html.parser')
    hemisphere_image_urls.append({
        'title': soup.find('h2', class_='title').text,
        'img_url': soup.find('div', class_='downloads').find('a', text='Sample')['href']
    })

In [31]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [32]:
scrapings['hemisphere_image_urls'] = hemisphere_image_urls

In [40]:
scrapings.keys()

dict_keys(['news_results', 'img_url', 'mars_weather', 'table_string', 'hemisphere_image_urls'])

In [45]:
scrapings['news_results']

{'news_title': "Media Get a Close-Up of NASA's Mars 2020 Rover",
 'news_p': "The clean room at NASA's Jet Propulsion Laboratory was open to the media to see NASA's next Mars explorer before it leaves for Florida in preparation for a summertime launch."}

In [46]:
scrapings['img_url']

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA23611_hires.jpg'

In [47]:
scrapings['mars_weather']

'InSight sol 391 (2020-01-01) low -99.0ºC (-146.1ºF) high -17.6ºC (0.3ºF)\nwinds from the SE at 5.7 m/s (12.7 mph) gusting to 21.9 m/s (49.0 mph)\npressure at 6.40 hPa'

In [48]:
scrapings['table_string']

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th></th>\n    </tr>\n    <tr>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [52]:
scrapings['hemisphere_image_urls']

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]